.h1_mid4{
    font-family: cursive;
    font-size: 36px;
    padding-left: 30px; 
}
.form1{
    padding-top: 5px;
    padding-bottom: 10px;
    
}
.m2{
    width: 330px;
}
.button4{
    margin-left: 50px;
}
.formhandle{
    padding: 20px;
}