<div class="container">
<div class="row justify-content-center align-items-center" style="background-color: yellow;">
    <div class="col-5">
        <h1 class="h2_mid4">Do you have any questions?</h1>
        <h2 class="h1_mid4">feel free to contact us!</h2>
    </div>
    <div class="col-6">
        <form class="formhandle">
            <div class="row justify-content-center form1">
                <div class= "col-5">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-5">
                    <input type="email" class="form-control" placeholder="Email">
                </div> 
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-7">                                                    
                <textarea  class="form-control m1" rows="1" placeholder="Message"></textarea> 
                </div>  
                <div class="col-3">
                    <input type="submit" class="btn btn-dark button4" value="Submit">
                </div> 
            </div>                        
        </form>
    </div>
</div>
</div>
